@page
@model University.Pages.Choose.RecordModel
@{
}


<h1>Choose record</h1>
<hr />
<div>
    @foreach (var record in Model.records)
    {
            <form method="post" >
                <input type="hidden" name="id" value="@record.Id" />
                <button type="submit">@record.Student.Name @record.Student.LastName @record.Student.Patronymic @record.Course.Name @record.Specialization.Name</button>
            </form>
            <br/>
    }
</div>

